# Ignore all CSV, Excel, PDF files
*.csv
*.xlsx
*.xls
*.pdf

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Folders
data/
docs/

# But include README.md in these folders
!data/README.md
!docs/README.md
