# Don't ignore reports/figures images
reports/figures/*
!reports/figures/*.png

# Ignore all CSVs, Excel, PDFs in data and docs
data/*.csv
data/*.xlsx
data/*.xls
docs/*.pdf

# Ignore everything else in these folders
data/*
docs/*

# Keep placeholders
!data/.gitkeep
!data/README.md
!docs/.gitkeep
!docs/README.md

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

